/* crazy things are possible with weird gradients & mix-blend-mode,
animated background-position makes it even crazier
this is just a simple example with 2 gradients */

@property --x1 {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 50%;
}

@property --y1 {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 50%;
}

@property --x2 {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 50%;
}

@property --y2 {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 50%;
}

@property --color1 {
	syntax: "<color>";
	inherits: false;
	initial-value: oklch(57.34% 0.2178 264.97);
}

@property --color2 {
	syntax: "<color>";
	inherits: false;
	initial-value: oklch(30.88% 0.2097 264.97);
}

/* Rotate */
@property --rotate1 {
	syntax: "<angle>";
	inherits: false;
	initial-value: 90deg;
}

@property --rotate2 {
	syntax: "<angle>";
	inherits: false;
	initial-value: 90deg;
}

svg {
	/*   display: none; */
	height: 0;
	width: 0;
	position: absolute;
}

#gradient-body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	mix-blend-mode: overlay;
}

#wrapper {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	justify-items: center;
}

#grad1 {
	width: 100%;
	height: 100%;
	background: conic-gradient(
		from var(--rotate1) at var(--x1) var(--y1),
		var(--color1) 0deg,
		var(--color2) 360deg
	);
	transform: rotate(-180deg);
}

#grad2 {
	width: 100%;
	height: 100%;
	background: conic-gradient(
		from var(--rotate2) at var(--x2) var(--y2),
		var(--color2) 0deg,
		var(--color1) 360deg
	);
}

#grad1,
#grad2 {
	animation: changeWitdh 10s linear infinite alternate, changeColorEverySecond 10s linear infinite alternate;
}

@keyframes changeWitdh {
	0% {
		--x1: 50%;
		--x2: 50%;
	}
	100% {
		--x1: 90%;
		--x2: 90%;
	}
}

@keyframes changeColorEverySecond {
  0% {
    --color1: #2df1a0;
    --color2: #1b1bd1;
  }
  50% {
    --color1: #2dcdf1;
    --color2: #1b46d1;
  }
  100% {
    --color1: #f1552d;
    --color2: #d11b1b;
  }
}
